<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add item</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <h1>Add item</h1>
    <div>
        <form th:object="${item}" th:action="@{/additem/save}" action="#" method="post">
            <label for="name">Name: </label>
            <input type="text" id="name" th:field="*{name}">
            <label for="color">Color: </label>
            <input type="text" id="color" th:field="*{color}">
            <label for="size">Size: </label>
            <input type="text" id="size" th:field="*{size}">
            <label for="price">Price: </label>
            <input type="text" id="price" th:field="*{price}">
            <label for="stock">Stock: </label>
            <input type="text" id="stock" th:field="*{stock}">
            <select id="categorylist" th:field="*{category}">
                <option th:each="category : ${categories}" th:value="${category.id}"
                    th:text="${category.name}">
                </option>
            </select>
            <select id="manufacturerlist" th:field="*{manufacturer}">
                <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.id}"
                    th:text="${manufacturer.name}">
                </option>
            </select>

            <input type="submit" value="Save" class="btn btn-primary"></input>
            <a href="/itemlist" class="btn btn-danger">Cancel</a>
        </form>

    </div>
</body>

</html>