<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Items</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <script type="text/javascript">
        const deleteProduct = () => {
            if(window.confirm("Are you sure?")) {
                return true;
            } else {
                return false;
            }   
        }
    </script>
</head>

<body>
    <h1>Items</h1>
    <div>
        <form id="logout" th:action="@{/logout}" method="post">
            <input class="btn btn-danger" type="submit" value="Log out" />
        </form>
    </div>

    <h4 th:text="'Items in stock: ' + ${allstock}" class="mt-3"></h4>

    <div>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Colour</th>
                <th>Size</th>
                <th>Price</th>
                <th>Manufacturer</th>
                <th>Category</th>
                <th>Stock</th>
                <th></th>
                <th></th>
            </tr>

            <tr th:each="item : ${items}">
                <td th:text="${item.name}"></td>
                <td th:text="${item.color}"></td>
                <td th:text="${item.size}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.manufacturer.name}"></td>
                <td th:text="${item.category.name}"></td>
                <td th:text="${item.stock}"></td>
                <td><a th:href="@{/edit/{id}(id=${item.id})}" class="btn btn-warning">Edit</a></td>
                <td><a onclick="return deleteProduct()" th:href="@{/delete/{id}(id=${item.id})}" class="btn btn-danger">Delete</a></td>

            </tr>
        </table>
        <a href="/additem" class="btn btn-primary">Add item</a>
        <a href="/manufacturerlist" class="btn btn-primary">Manufacturers</a>
        <a href="/userlist" class="btn btn-primary">Users</a>
    </div>
</body>

</html>